.profile-details {
    display: grid;
    gap: .75rem 1.5rem;
    grid-template-columns: max-content 1fr;
    margin: 0;
}

.profile-details dt {
    color: var(--color-text-muted);
    font-weight: 700;
}

.profile-details dd {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: 0;
}
